@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="card-columns">
    @if (Model.Students != null) // .Any()
    {
         @foreach (var student in Model.Students)
        {
            <div class="card">
                @*<div class="card-body">*@
                    ID: @student.studentId
                    First name: @student.firstName 
                    Last name: @student.lastName
                    Submitted?: @student.isSubmitted
                @*</div>*@
            </div>
        }
    }

</div>

<form method="post">
    <button type="submit" asp-page-handler="RegisterStudents">RegisterStudents</button>
</form>
<div class="text-center"> // not reaching to the method in server (StudentsController)
    <form method="post" asp-controller="Students" asp-action="ExportToCSV">
        <input type="submit" value="Export To CSV" />
    </form>
</div>


